.structure {
  width: 80px;
  height: 515px;
  border-radius: 25px;
  transform: translate(87%, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  border: 1.5px solid #372f6c;
}

.send {
  position: absolute;
  background: none;
  height: 50px;
  border-radius: 30px;
  padding: 0px;
  border-style: solid;
  border-color: #372f6c;
  border-width: 1.5px;
  transform: translate(0%, 465%);
}

.send-button {
  color: #d9dcff;
  float: right;
  width: 48px;
  height: 48px;
  transform: translate(0%, -105%);
  border-radius: 50%;
  background: linear-gradient(90deg, #6255c7, #9733ee, #8b66e0, #6e32f8);
  background-size: 400%;
  display: flex;
  padding: 11px 6px 11px 13px;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
  overflow: hidden;
  outline: 0;
}

.send-button:hover {
  cursor: pointer;
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.send-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  text-indent: 20px;
  color: black;
  font-size: 14px;
  transition: 0.4s;
  line-height: 50px;
  width: 696px;
}

.chat-welcome {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-title {
  font-size: 22px;
  font-weight: bold;
  color: #203152;
}

.chat-desciption {
  font-size: 20px;
  color: #203152;
  margin-bottom: 200px;
}

.avatarWelcome {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: cover;
}

.error-effect {
  margin-left: 190px;
  width: 18.5ch;
  animation: typing 2s steps(19), blink 0.5s step-end infinite alternate,
    textAnimation ease-in 0s forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #372f6c;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  opacity: 0;
}

@keyframes textAnimation {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
