.user-content {
  margin-top: 2px;
  color: #ffffff;
}

.user-image {
  border-radius: 30px;
  margin-bottom: 10px;
  height: 120px;
  width: 180px;
  object-fit: cover;
  object-position: center;
  transition: 0.6s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chat-section {
  position: absolute;
  height: 55px;
  width: 70px;
  transform: translate(80%);
  padding-top: 16px;
  margin-top: 165px;
  border-radius: 30px 30px 0px 0px;
  background-color: #7492fd;
}

.chat-icon {
  position: relative;
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
  filter: grayscale(100%) invert(100%);
}

.career-icon {
  position: absolute;
  height: 16px;
  width: 16px;
  margin-top: 165px;
  margin-left: 23px;
}

.major-icon {
  position: absolute;
  height: 16px;
  width: 16px;
  margin-top: 190px;
  margin-left: 23px;
}

.residence-icon {
  position: absolute;
  height: 16px;
  width: 16px;
  margin-top: 165px;
  margin-left: 142px;
}

.nation-icon {
  position: absolute;
  height: 16px;
  width: 16px;
  margin-top: 190px;
  margin-left: 142px;
}

.user-container {
  display: flex;
  flex-direction: column;
  background-color: #372f6c;
  border-radius: 30px;
  height: 220px;
  width: 180px;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
}
