.content {
  color: #ffffff;
}

.module-container {
  display: flex;
  flex-direction: column;
  background-color: #372f6c;
  border-radius: 20px;
  padding: 8px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.module-container:hover {
  transform: scale(1.05);
}
